@page "/"

<PageTitle>FSL Investing Form</PageTitle>

<video autoplay loop muted playsinline id="background-video">
    <source src="Videos/Land.mp4" type="video/mp4">
</video>

<!-- Commit: Added favicon & doctored up form-->

<div class="container justify-content-center mb-3">
    <div class="row no-gutters">
        <div class="col-12 col-lg-5 rounded-1 bg-form-img"></div>
        <div class="col-12 col-lg-7 rounded-1">
            <form class="p-3 rounded-1 " style="background-color: #FFFFFF;">
                <img class="img-fluid mx-auto d-block" style="width: 250px" src="Images/FSL Logo.png" alt="FSL Investing"/>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="name" class="medium">Name</label>
                            <div class="input-group input-group-md">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-address-card"></i>
                                    </div>
                                </div>
                                <input id="name" name="name" type="text" required="required" class="form-control form-control-sm">
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="phone-number" class="medium">Phone Number</label>
                            <div class="input-group input-group-md">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <input id="phone-number" name="phone-number" type="text" required="required" class="form-control form-control-[p]">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="medium">Email Address</label>
                    <div class="input-group input-group-md">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <input id="email" name="email" type="text" required="required" class="form-control form-control-sm">
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="question-1" class="medium">Monthly Purchases?</label>
                            <input id="question-1" name="question-1" type="number" required="required" class="form-control form-control-sm">
                            <small class="form-text text-muted">How many properties do you buy per month?</small>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="question-3" class="medium">More Monthly Deals?</label>
                            <select id="question-3" name="question-3" class="custom-select custom-select-sm" required="required">
                                <option disabled selected value> -- Select An Option -- </option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                            <small class="form-text text-muted">Are you okay with 10-12 more deals per month?</small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="question-2" class="medium">Target Areas?</label>
                    <input id="question-2" name="question-2" type="text" required="required" class="form-control form-control-sm">
                    <small class="form-text text-muted">What counties or zip codes are you buying in?</small>
                </div>
                <div class="form-group">
                    <label for="question-4" class="medium">Buying Requirements?</label>
                    <input id="question-4" name="question-4" type="text" required="required" class="form-control form-control-sm">
                    <small class="form-text text-muted">What are your requirements when buying a property?</small>
                </div>
                <div class="form-group">
                    <label for="notes" class="medium">Notes</label>
                    <textarea id="notes" name="notes" cols="40" rows="4" class="form-control form-control-sm"></textarea>
                </div>
                <div class="form-group text-center">
                    <button name="submit" type="submit" class="btn btn-primary btn-sm w-100 fs-6">Submit</button>
                </div>
            </form>
        </div>

    </div>
</div>